<%- include header.ejs %>

<div class="row justify-content-center h-100">
  <div class="col p-0">
    <div class="card h-100">
      <div class="card-header bg-white text-center">
        <h3><%= pageTitle %></h3>
      </div>
      <div class="card-body p-0 h-100">
        <div class="row h-100" >
          <div class="col-sm-3 text-white p-0 users-list h-100" >
          <div class="list-group list-group-flush px-4">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
            <hr>
          </div>
          </div>
          <div class="col-sm-9 content h-100" >
            <div class="row chat-list">
            <div class="media border p-3 m-4 media-right">
              <div class="media-body">
                <h5>Ravi Sharma</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
            <div class="media border p-3 m-4 media-left">
              <div class="media-body">
                <h5>Ravi Sharma</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="message-area bg-dark" >
                Ravi
              </div>
              <div class="message-area bg-dark" >
                Ravi
              </div>
              <div class="message-area bg-dark" >
                Ravi
              </div>
              <div class="message-area bg-dark" >
                Ravi
              </div>
            </div>
          
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
	
<%- include footer.ejs %>